<p id="notice"><%= notice %></p>
<!--
<div class="header">
  <div class="container">
    <img src="http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/logo-1m.svg">
    <h1>Swanza</h1>
  </div>
</div>
-->
<p>
<%= link_to 'Register', new_student_registration_path, class: 'btn btn-primary btn-lg' %>
</p>

